<% provide(:title, 'Listing Artworks') %>
<h1>Listing artworks</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
			<th>Description</th>
      <th>Start Date</th>
      <th>Completion Date</th>
      <th>Dimensions</th>
      <th>Gallery Info</th>
			<th>Artist</th>
    </tr>
  </thead>

  <tbody>
    <% @artworks.each do |artwork| %>
      <tr>
        <td><%= link_to edit_link_html, edit_artwork_path(artwork) if current_user %>
						<%= link_to remove_link_html, artwork, method: :delete, data: { confirm: 'Are you sure?' } if current_user %>
						<%= link_to artwork.name, artwork_path(artwork) %></td>
        <td><%= truncate(artwork.description, length: 40) %></td>
				<td><%= artwork.start_date %></td>
				<td><%= artwork.completion_date %></td>
				<td><%= artwork.dimensions %></td>
				<td><%= artwork.gallery_info %></td>
				<td><%= link_to truncate(artwork.artist.name, length: 40), artist_path(artwork.artist) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to add_link_html("Create new artwork"), new_artwork_path if current_user %>